[Unit]
Description=Rescue Indoor REST Server
After=network.target

[Service]
User=root
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rescue-rest
WorkingDirectory=/opt/rescue-indoor/src/integrationserver/
ExecStart=/opt/rescue-indoor/src/integrationserver/restserver.rb
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitCORE=0
LimitAS=infinity
LimitLOCKS=infinity

[Install]
WantedBy=multi-user.target
